<ion-header>
    
      <ion-navbar hideBackButton>
        <ion-title>Costomer</ion-title>
        <img src="img/transactions.png" class="hisstroyicon"  (click)="upcomingorder()">
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content >
     
      <div id="map" ><img src="img/Screenshot (13).png" width="100%" height="100%" ></div>
       
      <ion-item>
        <ion-label> <img src="img/Map_pin_icon.svg.png" class="label1"><p  class="p1"> Use Current Address </p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label> <img src="img/Cash.png" class="label1"><p  class="p1"> Cash on Delivery </p></ion-label>
      </ion-item>
      <br>      
    <br>
    <br>
    <button ion-button color="scolor" class="buttoncontact" (click)="Fullmap()">
      
       Order Now
    </button>
    
    
    </ion-content>
    