page-your {
    .item head{
        width: 250%;
        height: 100%;
    }
    .chicken-muffin{
        font-size: 200%;
        margin-left: 25%;
    }
    .meetatrider{
        font-size: 50%;
        margin-left: 25%;
    }
    .heading{
        
        width: 150%;
        margin-left: -10%;
        height: -20%;
    }
    .p1{
        margin-left: 8%;
    }
    .badge{
        height: 300%;
        width: 100%;
    }
    ion-scroll{
        white-space: nowrap;
        height: 20%;
       
    }
    .scroll{
        margin-left: -5%;
        margin-top: -8%;
        background-color: rgba(228, 228, 228, 0.279);
        width: 130%;

}
.slide-img1{
    font: outline;
    margin-left:2%;
    height: 50%;
    width: 20%;
}
.img{
    margin-left: 7%;
}

.img2{
    margin-left: 10%;
}

.img3{
    margin-left: 10%;
}

.img4{
    margin-left:11%;
}

.img5{
    margin-left: 7%;
}

.img6{
    margin-left: 11%;
}
.img7{
    margin-left: 15%;
}

.yourorder{
    font-size: 120%;
    margin-left: 40%;
}
.chickenmuffin{
    font: outline;
    font-size: 70%;
 font: lighter;
 margin-left: 12%;
 margin-top: -50%;
}
.price{
    margin-left: 80%;
    margin-top: -6%;
}
.subtract{
    width: 12%;
}
.pchicken{
    
    margin-left: 20%;
    margin-top: -6%;

}
.clear-cart{
    width: 40%;
    height: 5%;
    margin-left: 9%;
    background-color: rgb(182, 8, 8);
    margin-top: 5%;
    color:white;
}
.update-cart{
    width: 40%;
    height: 5%;
    background-color: purple;
    margin-top: 5%;
    color:white;
}
.backicon{
    width: 7%;
    margin-left: 1%;
    margin-top: -1%;
}
.hisstroyicon{
    width: 8%;
    margin-left: 80%;
}

}
