<!--
  Generated template for the YourPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Your Cart</ion-title>
    <img src="img/backword.png" class="backicon" (click)="Backbutton()" >
    <img src="img/transactions.png" class="hisstroyicon"  (click)="upcomingorder()">
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item class="item head">
  <h1 class="chicken-muffin"><b>McDonald's</b></h1>
  <h6 class="meetatrider" >MEET WITH RIDER <b>. ARRIVES UNDER 25 MIN</b></h6>
  
</ion-item>


 

  <p style="color:gray" class="yourorder">Your order</p>
  
  
  <div ng-controller="CounterController" class="countbutton">
    <ion-item>
        <ion-icon name="add-circle" (click)="addCount()" style="color:blueviolet"></ion-icon>
         {{count}}
        <ion-icon name="remove-circle" (click)="subtractCount()" style="color:blueviolet" class="subtract"></ion-icon>
        <p class="pchicken">Chicken Muffin With Fries</p>
    <p class="price"  >PKR.200</p>
  </ion-item>
  </div>

  <div ng-controller="CounterController" class="countbutton">
  <ion-item>
      <ion-icon name="add-circle" (click)="addCount2()" style="color:blueviolet"></ion-icon>
       {{count2}}
      <ion-icon name="remove-circle" (click)="subtractCount2()" style="color:blueviolet" class="subtract"></ion-icon>
      <p class="pchicken">Large Fries</p>
  <p class="price"  >PKR.200</p>
</ion-item>
  </div>

<div ng-controller="CounterController" class="countbutton">
<ion-item>
    <ion-icon name="add-circle" (click)="addCount3()" style="color:blueviolet"></ion-icon>
     {{count3}}
    <ion-icon name="remove-circle" (click)="subtractCount3()" style="color:blueviolet" class="subtract"></ion-icon>
    <p class="pchicken">Chicken Nugets</p>
<p class="price"  >PKR.200</p>
</ion-item>
<ion-item class="i1" >
    <ion-label floating style="color:rgb(152, 148, 148)"  >
        Add Note(Extra Sauce,No Onion etc.)
          
        </ion-label>
        <ion-input type="text"></ion-input>
        <br>
    </ion-item>     
</div>
<div>
  <ion-item>
    <p>Subtotal</p>
    <p class="price"  >PKR 100</p>
    <br>
    <p>Tax</p>
    <p class="price"  >PKR 50</p>
    <br>
    <p>Booking Fee</p>
    <p class="price" >PKR 50</p>
      </ion-item>
      <ion-item>
          <p><b>Total</b></p>
          <p class="price" style="color:blueviolet"><B>PKR 600</B></p>
      </ion-item>
  </div>

 
        <button ion-button class="clear-cart" color="scolor">Clear Cart</button>
        <button ion-button class="update-cart" color="scolor" (click)="presentActionSheet()">Order Now</button>
          
       
 
</ion-content>
