page-about {
.segment1{
    background-color: purple;
    color: purple;
 background: purple;
}
.homeicon{
    width: 8%;
    height: 1%;
    margin-left: 6%;
}
.searchicon{
    width: 8%;
    height: 1%;
    margin-left: 15%;
}
.ordericon{
    width: 8%;
    height: 1%;  
    margin-left: 12%; 
}
.profileicon{
    width: 8%;
    height: 1%;  
    margin-left: 15%;
}
.toolbar{
    margin-left: 5%;
}
.divh{
    margin-left: 35%;
}
ion-item:hover {
    background-color: rgb(248, 248, 248) !important;
    }
    .cart{
        width: 10%;
        height: 10%;
        margin-left: 80%;
        margin-top: -12%;
    }
}
