
 <ion-header>
    <ion-item>
           
           <div class="divh"> <b>ORDER'S</b> 
        </div>
        <img src="img/commerce2.png" class="cart" (click)="YourPage()">
      </ion-item>

</ion-header>

<ion-content padding>


  <div padding>
    
    <ion-segment [(ngModel)]="pet" color="Pcolor">
      <ion-segment-button value="history"  class="segment1" >
        HISTORY
      </ion-segment-button>
      <ion-segment-button value="upcoming"  class="segment1"  >
        UPCOMING
      </ion-segment-button>
    </ion-segment>

  </div>
  
  <div [ngSwitch]="pet" style="color:rgba(250, 235, 215, 0)">
    <ion-list *ngSwitchCase="'upcoming'" color="Pcolor">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/icecream-icon.png">
        </ion-thumbnail>
        <h2>biryani</h2>
      </ion-item>
      
    </ion-list>
  
    <ion-list *ngSwitchCase="'history'" color="Pcolor" >
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/ice.ico">
        </ion-thumbnail>
        <h2>ice cream</h2>
      </ion-item>
      
    </ion-list>
  </div>
  



  <ion-footer>
      <ion-toolbar class="toolbar">
        <img src="img/Streamline-18-512.png" class="homeicon" (click)="dash()">
        <img src="img/585e4ae1cb11b227491c3393.png" class="searchicon" (click)="search()" >
        <img src="img/orderwhite.png" class="ordericon" (click)="order()">
        <img src="img/user-id-icon.png" class="profileicon" (click)="profile()" >
          
         </ion-toolbar>
     </ion-footer>