page-login {.background{
    width:100%;
    height: 100%;
    background:linear-gradient(10deg,rgb(254, 255, 255),rgb(255, 255, 255));
}
.scroll-content{
    text-align: center;
}
ion-card.card{
    background: rgba(232, 230,230, 0.6px);
    border-radius:10px;
}
.item{
    background: rgba(232, 230,230, 0px);
}
ion-input{
    border-bottom: rgb(255, 255, 255) solid 1px;
}

.background{
background-image: url('../img/maxresdefault (2).jpg');

 width: 100%;
 background-size: 100% 100%;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}
.logo{
    width: 90%;
    margin: 12%;
    margin-top:30%;
}
.s{
font-size: 125%;
align-content: center;

background-color: #ccb9eca5;
border-radius:10px;
margin-right: -20%;
margin-top: 8%;
color:rgb(255, 255, 255);


}
.or{
    color: white;
}

.fp{
    color:white;
    font-size: 120%;
    font:bold;

}
.f1{
    font-size: 120%;
    font:bold;
}
.f2{
    font-size: 120%;
    font:bold
}
.f3{
    font-size: 120%;
    font:bold;
}
.i1{
    margin-top:-10%;
    color:white;
}

.ps{
    color: white;
}
}
