<ion-content padding class="background">
  <div class="logo" >
    <img src="img/Logo2.png" />
  </div>  

          <ion-item class="i1" >
            <ion-label floating  >
              <div style="color:white">Email</div>
            </ion-label>
            <ion-input type="text">
  
            </ion-input>
          </ion-item>
  
          <ion-item class="ps" >
              <ion-label floating fiexed>
                <div style="color:white">password</div>
              </ion-label>
              <ion-input type="password">        
              </ion-input>

            </ion-item>
  
              <p class="f1" style="color:#b3abab" >Forgot password?</p> <p (click)="forget()" class="fp"> Get here </p> 
            
            <button ion-button color="Pcolor" class="s" block outline (click)="login2()">
            <ion-icon name="log-in" padding ></ion-icon>
            <div style="color:white">Login</div>
          </button>
        
      

      <p style="color:rgb(206, 199, 199)"class="f2">New here?</p> <p (click)="signup3()" style="color:white" class="f3">Sign up</p>
        
       

      
  
       
        
      
    
    
  </ion-content>