page-location {
.label1{
    width: 8%;
}
.p1{
    margin-left: 12%;
    margin-top: -8%;
    color:purple;
    font-size: 100%;
}
.selectyourlocation{
    margin-left: 17%;
    font-size: 130%;
    color:rgb(125, 123, 123);
    align-content: center;
}
.backicon{
    width: 7%;
    margin-left: 1%;
    margin-top: -1%;
}
}
