<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>ADDRESSES</ion-title>
    <img src="img/backword.png" class="backicon" (click)="Backbutton()" >
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-label class="selectyourlocation"><b>SELECT DELIVERY ADDRESS</b></ion-label>
  <ion-item>

    
  <ion-label> <img src="img/map logo.png"class="label1" ><p class="p1">Select From Map</p></ion-label>
</ion-item>
<ion-item>
  <ion-label> <img src="img/Map_pin_icon.svg.png" class="label1"><p  class="p1"> Use Current Address </p></ion-label>
</ion-item>
</ion-content>
