page-main {
    
    .divh{
        margin-left: 40%;
       
        font-size: 150%;
    }
.item1{
    width: 120%;
    margin-left: -12%;
    margin-top: 1%;
}
.backward{
    width: 5%;
    margin-left: -85%;
    margin-top: -8%;
}

.icon1{
    align-content: right;
    margin-left: 150%;
    height: 200%;
    width: 200%;
    margin-top:180%;

 }
.col1{
   margin-left:2%;
   margin-top:  1%;
    
    
}
.img0{
    margin-left: 20%;
    margin-top: 2%;
}
.p1{
    margin-top: -2%;
}
.img1{
    margin-top: 5%;
    margin-left: 22%;
    width: 400%;
}
.back{
    width: 12%;
    height: -20%;
}
.backicon{
    margin-top: -40%;
    margin-left: 4%;
    
}
.title{
    margin-top: 5%;
}
.cart{
    width: 10%;
    height: 10%;
    margin-left: 85%;
    margin-top: -12%;
}
.lo{
    width:150%;
    height: 1%;
    margin-left: -24%;
    margin-top: 6%;
}
}