<ion-header>
    
            <div class="lo" align="center" style="color:rgb(121, 121, 132)"> Deliver to: <b>Karachi, Pakistan</b></div>
            <img src="img/commerce2.png" class="cart" (click)="yourpage()"> 
         <img src="img/backword.png" class="backward" (click)="menu()">
         <ion-item class="item1">
         <div class="divh"> <b>Breakfast</b> </div>
  
      </ion-item>
</ion-header>


<ion-content  >
  <ion-grid>
    <ion-item>
        <ion-row>
    <ion-col class="col1" col-8 >
 
    
        <p class="p1">Chicken Sausage McMuffin w/Egg</p>
        <p class="p1">  Wake up to a McDonald’s</p>
        <p class="p1">Chicken Muffin</p>
     
      
      PKR:300
    </ion-col>


    <ion-col col-1 class="img0" >
        <img src="img/32360.png" (click)="Cartpage()" />
    </ion-col>

    </ion-row>
</ion-item>
<ion-item>
    <ion-row>
        <ion-col class="col1" col-8>
 
    
        <p class="p1">Chicken Sausage McMuffin</p>
        <p class="p1"> Make your morning sizzle with Chicken </p>
        <p class="p1">freshly toasted English muffin, savory chicken </p>
     
      
      PKR:350
    </ion-col>

    <ion-col col-1 class="img1" >
        <img src="img/32360.png" (click)="Cartpage()"/>
    </ion-col>

    </ion-row>
</ion-item>
<ion-item>
    <ion-row>
        <ion-col class="col1" col-8>
 
    
        <p class="p1">Egg McMuffin</p>
        <p class="p1">Get that good morning taste McMuffin </p>
        <p class="p1">freshly toasted English muffin, savory chicken </p>
     
      
      PKR:450
    </ion-col>

    <ion-col col-1 class="img1">
        <img src="img/32360.png" (click)="Cartpage()"/>
    </ion-col>

    </ion-row>
</ion-item>

<ion-item>

    <ion-row>
        <ion-col class="col1" col-8>
 
    
        <p class="p1">Egg & Cheese McMuffin</p>
        <p class="p1">Get that good morning taste of Egg  </p>
        <p class="p1">freshly toasted , savory chicken </p>
     
      
      PKR:450
    </ion-col>

    <ion-col col-1 class="img1" >
        <img src="img/32360.png" (click)="Cartpage()"/>
    </ion-col>

    </ion-row>
</ion-item>

<ion-item>
    <ion-row>
        <ion-col class="col1" col-8>
 
    
        <p class="p1">Chicken Muffin</p>
        <p class="p1">Get that good morning taste of  Egg breakfast  </p>
        <p class="p1">freshly toasted English muffin </p>
     
      
      PKR:500
    </ion-col>

    <ion-col col-1 class="img1" >
        <img src="img/32360.png" (click)="Cartpage()"/>
    </ion-col>

    </ion-row>
</ion-item>

    
<ion-item>

    <ion-row>
        <ion-col class="col1" col-8>
 
    
        <p class="p1">Chicken Sausage McMuffin w/Egg Meal</p>
        <p class="p1">Make your morning sizzle Chicken   </p>
     
      
      Rs. 650/=
    </ion-col>

    <ion-col col-1 class="img1" >
        <img src="img/32360.png" (click)="Cartpage()"/>
    </ion-col>

    </ion-row>
</ion-item>
    
     
</ion-grid>     
</ion-content>
