
<ion-content padding class="background1">
    <button ion-button color="Pcolor" class="b"  (click)="login()">
    <ion-icon name="arrow-back" class="ic"></ion-icon></button>

  <div padding class="su" style="color:white"></div>

  <p style="color:white" class="p1">Sit Back & relax</p>
  <p style="color:white"class="p2">while we verify your </p>
  <p class="p3">phone number</p>
  <ion-item class="item">
  <ion-input type="text"></ion-input>>
</ion-item>
<br>
<button ion-button color="Pcolor" class="s" block outline (click)="login2()">
  <p class="v" >VERIFY</p></button>

</ion-content>
