page-forget {
    .background1{
        background-image: url('../img/background.jpg');
         width: 100%;
         background-size: 100% 100%;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
        
         
    }
    .p1{
        font-size: 200%;
        margin-left:25%;
        margin-top: 50%;
         

    }
    .p2{
        font-size: 150%;
        margin-left:25%;
        margin-top: -8%;
        font-weight: 12%;

}
.p3{
    font-size: 180%;
    margin-left:25%;
    margin-top: -7%;
    color: white;
   

}
.item{
    background-color: rgba(158, 158, 158, 0);
    color:white;
    width: 70%;
    margin-left: 15%
}
.s{
    font-size: 125%;
    align-content: center;
    
    background-color: #783cdf;
    border-radius:10px;
    margin-right: -20%;
    margin-top: 8%;
    color:white;
    width: 90%;
    margin-left: 5%;
    height: 7%;
}
.v{
    color:white;
    font-size: 120%;
}
.su{
    font-size: 180%;
    color:rgba(255, 255, 255, 0.653);
    font: bold;
    margin-left: 20%;
   

}
.ic{
   width: 100%;
    
}
.b{
    background-color: rgba(158, 158, 158, 0);
}

}