


    <ion-header>
        
      
      <ion-item class="item1">
          
    <div class="divh"> <b>Account</b> </div>
    <img src="img/commerce2.png" class="cart">
        </ion-item>
 </ion-header>
  

 


<ion-content padding>
    <img src="img/new.png" class="img1" color="rgba(240, 239, 239, 0">
    
    <ion-label color="white" style="background-color:rgba(228, 228, 228, 0.367)" class="heading"padding > <p class="p1">ACCOUNT INFORMATION </p> </ion-label>
    <ion-label color="white" style="background-color:rgba(228, 228, 228, 0.367)" class="heading"padding > <p class="p1"><ion-icon name="link"> REFRRAL CODE: 3236</ion-icon></p> </ion-label>
    <ion-label color="white" style="background-color:rgba(228, 228, 228, 0.367)" class="heading"padding > <p class="p1"><ion-icon name="cash">  WALLET AMMOUNT: PKR 200</ion-icon></p> </ion-label>
    
    


<ion-grid>
  <ion-row>
    <ion-col col-7  width-10 > 
    <ion-label fixed >
      First Name
       </ion-label>
       <ion-item class="inp1">
      <ion-input type="text" >
      </ion-input>
      </ion-item>
    </ion-col>   
      
       <ion-col >
          
      <ion-label fixed>
      Last Name
      </ion-label>
     <ion-item class="inp1">
      <ion-input type="text" >
      </ion-input>
    </ion-item>
      </ion-col>
    </ion-row>
  
    </ion-grid>

   
      
      <ion-item class="background1" >    
      <ion-label Fixed>
      Email
      </ion-label>
      <ion-icon name="mail-outline" item-left primary></ion-icon> 
      <ion-input type="text">
      </ion-input>
      </ion-item>
      
      <ion-item class="background1" >
          
      <ion-label fixed>
      Contact
      </ion-label>
      <ion-icon name="phone-portrait-outline" item-left primary></ion-icon>
      <ion-input type="text">
      </ion-input>
      </ion-item>
       
      <br>
    <ion-label color="white" style="background-color:rgba(214, 213, 213, 0.367)" class="heading"padding > <p class="p1">SAVED PLACE </p>
     </ion-label>
     <ion-item class="background1">
       
     <ion-label fixed > 
        Home
        </ion-label>
        <ion-icon name="home-outline" item-left primary></ion-icon>
       <ion-input type="text">
        </ion-input>
       <ion-icon name="home"></ion-icon>
            
     </ion-item> 
<ion-item class="background1">
     <ion-label fixed > 
        Work
        </ion-label>
        <ion-icon name="briefcase-outline" item-left primary></ion-icon>
       <ion-input type="text">
        </ion-input>
       <ion-icon name="home"></ion-icon>
            
     </ion-item> 

     <button ion-button round (click)="loginPage()"class="signoutbutton" color="scolor">SignOut</button>
     
</ion-content>


  <ion-footer>
      <ion-toolbar class="toolbar">
        <img src="img/Streamline-18-512.png" class="homeicon" (click)="dash()" >
        <img src="img/585e4ae1cb11b227491c3393.png" class="searchicon" (click)="search()">
        <img src="img/transactions.png" class="ordericon" (click)="order()">
        <img src="img/profilewhite.png" class="profileicon" (click)="profile()" >
          
         </ion-toolbar>
     </ion-footer>
    