page-profile {
    .icon{
        width: 12%;
        height: 12%;
    }
    .img1{
        width: -12%;
        height: 20%;
        margin-left: 35%;
       background-color: rgba(255, 255, 255, 0);
       color: rgba(255, 255, 255, 0);
    }
.heading{
    
    width: 150%;
    margin-left: -10%;
    height: -20%;
}
.p1{
    margin-left: 8%;
}
.background1{

    margin-left: -8%;
}
.inp1{
  
    margin-left: -20%;
    
}
.item1{
    width: 120%;
    margin-left: -12%;
}


.divh{
    margin-left: 40%;
   
    font-size: 150%;
}
.img2{
    height: 12%;
    width: 8%;
    margin-left: 30%;
}
.homeicon{
    width: 8%;
    height: 1%;
    margin-left: 6%;
   
}
.searchicon{
    width: 8%;
    height: 1%;
    margin-left: 15%;
}
.ordericon{
    width: 8%;
    height: 1%;  
    margin-left: 12%; 
}
.profileicon{
    width: 8%;
    height: 1%;  
    margin-left: 15%;
}
.toolbar{
    margin-left: 5%;
}
.signoutbutton{
margin-top: 12%;
margin-left: 30%;
background-color: purple;
color:white;
}
.ref{
    height: 60%;
    width: 120%;
    margin-left:-12%; 
}
.code{
    margin-left: 12%;
}
.ref1{
 font-size: 200%;
    
    margin-left: -8%;
}
.p2{
    margin-left: 8%;
}
.cart{
    width: 10%;
    height: 10%;
    margin-left: 80%;
    margin-top: -12%;
}
}


