<!--
  Generated template for the FullmapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Full Map</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content >

    <div id="map" ><img src="img/Screenshot (13).png" width="100%" height="100%" (click)="Ridepage()" ></div>

</ion-content>
