<!--
  Generated template for the SelectmapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>selectmap</ion-title>
    <img src="img/transactions.png" class="hisstroyicon"  (click)="upcomingorder()">
  </ion-navbar>

</ion-header>


<ion-content >
    <div id="map" ><img src="img/Screenshot (13).png" width="100%" height="100%"  ></div>

    <ion-item>
        <ion-label> <img src="img/Map_pin_icon.svg.png" class="label1"><p  class="p1"> Your Location </p></ion-label>
      </ion-item>
    <button ion-button color="scolor" class="buttoncontact" (click)="coustomer()">
        
         Order Now
      </button>

</ion-content>
