page-selectmap {
    #map {
        width: 120%;
        height: 80%;
        margin-left: -6%;
    }
    .hisstroyicon{
        width: 8%;
        margin-left: 80%;
        margin-top: 1%;
    }

    .buttoncontact{
        color:white;
        background-color: rgba(128, 0, 128, 0.741);
        width: 40%;
        height: 5%;
        margin-top: 5%;
        margin-left: 30%;
}
.p1{
    margin-left: 12%;
    margin-top: -8%;
    color:purple;
    font-size: 100%;
}
.label1{
    width: 8%;
}
}
