page-contact {
    .homeicon{
        width: 8%;
        height: 1%;
        margin-left: 6%;
    }
    .searchicon{
        width: 8%;
        height: 1%;
        margin-left: 15%;
    }
    .ordericon{
        width: 8%;
        height: 1%;  
        margin-left: 12%; 
    }
    .profileicon{
        width: 8%;
        height: 1%;  
        margin-left: 15%;
    }
    .toolbar{
        margin-left: 5%;
    }
    .badgeimg{
        width: 100%;
        height: 100%;

}
.cardjaved{
width: 30%;
height: 20%;
}
.p1{
margin-left: 7%;
margin-top: 2%;
    font-size: 100%;
}

.imgl{
    margin-left: 12%;
}
.grid{
   
   width: 120%;
   
    
    background-color: rgb(255, 255, 255);
}
.label1{
    background-color: rgba(250, 249, 249, 0);
    font-size: 130%;
    width: 130%;
    
}
.col1{
    width: 100%;
    height: 100%;
}
.col2{
    width: 100%;
    height: 100%;
}
.col3{
    width: 100%;
    height: 100%;
}
.col4{
    width: 100%;
    height: 100%;
}
.col5{
    width: 100%;
    height: 100%;
}

.col6{
    width: 100%;
    height: 100%;
    margin-top: -2%;
}
.col7{
    width: 100%;
    height: 100%;
    margin-top: -2%;
}

.col8{
    width: 100%;
    height: 70%;
    
}
.cart{
    width: 10%;
    height: 10%;
    margin-left: 90%;
    margin-top: -12%;
}

}