<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header padding>

  <ion-item>
    <ion-title>SEARCH RESTAURANT</ion-title>
    <img src="img/commerce2.png" class="cart" (click)="YourPage()">
  </ion-item>
  
  <ion-searchbar class="searchbar" placeholder="Search for a restaurant or dish" showCancelButton="true"></ion-searchbar>

</ion-header>


<ion-content >
    <ion-grid class="grid">
        <ion-label class="label1">
            <b>Top Categories</b>
        </ion-label>
       
            <ion-row align-items-start>
        <ion-col   col-5  >
      <img src="img/pizza-hut-canada-new-canadian-pizzas-2014.jpg" class="col1">  
        </ion-col>
<ion-col  col-5  >
        <img src="img/chicken-karahi-pictures-dsc-0090jpg.jpg" (click)="Cartpage()" class="col2" >
      </ion-col>

      </ion-row>
   
   
   
    
        <ion-row>
    <ion-col  col-5 >
 
    <img src="img/lamb-biryani-2.jpg" class="col3">
     
    </ion-col>     
    <ion-col class="col1" col-5 >
    <img src="img/Oven-Baked-Tandoori-Chicken_680px_Landscape.jpg" (click)="Cartpage()"class="col4" />
      
    </ion-col>
</ion-row>


    <ion-row>
<ion-col  col-5 >

<img src="img/recipe-24837_ExtraLarge1000_ID-1529547.jpg" class="col5">
</ion-col>
<ion-col  col-5 >
<img src="img/chicken-2.jpg" (click)="Cartpage()" class="col6" />
</ion-col>
</ion-row>



    <ion-row>
<ion-col  col-5 >

<img src="img/tandoorichickenhero (1).jpg" class="col7">
</ion-col>
<ion-col  col-5 >
<img src="img/DSC.jpg" (click)="Cartpage()" class="col7"/>
  
  
</ion-col>




</ion-row>




        
         
    </ion-grid> 
            

</ion-content>

<ion-footer>
    <ion-toolbar class="toolbar">
      <img src="img/Streamline-18-512.png" class="homeicon" (click)="dash()">
      <img src="img/searchwhite.png" class="searchicon" (click)="search()" >
      <img src="img/transactions.png" class="ordericon" (click)="order()">
      <img src="img/user-id-icon.png" class="profileicon" (click)="profile()" >
        
       </ion-toolbar>
   </ion-footer>
