page-home {
.home{
    text-align: center
}
.scroll-content{
    text-align: center
   
}
.button{
    width: 90%;
    height: 8%;
    
   
    
    
     


}
.margin1{
    font-size: 130%;
    align-content: center;

    margin-block-start:30%;
    margin-left:0%;
    border-radius:10px;
} 

.margin2{
    font-size: 125%;
    align-content: center;
margin-top: 1%;

border-radius:10px;




}

    

.margintop{
    margin-top: 150%;

}

.background{
   
    background-image: url('../img/maxresdefault (2).jpg');
   
    width: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item{
    background: rgba(232, 230,230, 0%);
}
ion-input{
    border-bottom: #FD4D73 solid 1px;
}

.card{
    ion-card.card{
        background: rgba(232, 230,230, 0px);
        border-radius:10px;
}

}
.f{
    font-size: 120%;
    

}
.l{
    font-size: 120%;
    font: bold;
    color: #fff;
}
.logo{
    
    width: 90%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:50%;
    margin-left: 10%
   
 
}
}