page-cartpage {
.cartbutton{
    width:100%;
    height: 10%;
    margin-top:20%; 
    background-color: purple;
    color:white;

} 
.checkbox1{
    margin-left: 5%;
    margin-top: 5%;
}
.countbutton{
    margin-left: 20%;
    margin-top: 12%;
     

}
.buttond{
    background-color: purple;
    color:white;
    
}

.backicon{
    width: 7%;
    margin-left: 1%;
    margin-top: -1%;
}
}
