<ion-header padding>
 
  
    <ion-navbar hideBackButton >
        <ion-title><b>Cartpage</b></ion-title>
        <img src="img/backword.png" class="backicon" (click)="Backbutton()" >
      </ion-navbar>
    </ion-header>
    
  




<ion-content padding>
    <img src="img/IMG_1041.png">
    
     <ion-item class="i1" >
         <ion-label   >
                  <div style="color:rgb(176, 176, 176)">CHOOSE A MEAL SIZE</div>
                </ion-label>
               </ion-item>

               <ion-list radio-group [(ngModel)]="autoManufacturers">

                  
                    
                      <ion-item>
                        <ion-label>Medium</ion-label>
                        <ion-radio value="medium"></ion-radio>
                      </ion-item>
                    
                      <ion-item>
                        <ion-label>Large</ion-label>
                        <ion-radio value="large" ></ion-radio>
                      </ion-item>
                    
                      
                    
                    </ion-list>

            <ion-item class="i1" >
                    <ion-label  style="color:rgb(152, 148, 148)"  >
                        CHOOSE A SIDE
                          
                        </ion-label>
                        
                        </ion-item>
                        <ion-list  radio-group [(ngModel)]="autoManufacturers">
                                
                                  <ion-item>
                                    <ion-label>Fries</ion-label>
                                    <ion-radio value="fries"></ion-radio>
                                  </ion-item>
                                
                                  <ion-item>
                                    <ion-label>Side Salad</ion-label>
                                    <ion-radio value="sidesalad" ></ion-radio>
                                  </ion-item>
                                
                                  
                                
                                </ion-list>



                                <ion-item class="i1" >
                                        <ion-label  style="color:rgb(152, 148, 148)"  >
                                            CHOOSE NEWMAN'S OWN' DRESSSING
                                            <br>
                                            <div>(Choose up to 1)</div>
                                              
                                            </ion-label>
                                            
                                            </ion-item>
                                            <ion-list  radio-group [(ngModel)]="autoManufacturers">
                                                    
                                                      <ion-item>
                                                        <ion-label>Ranch</ion-label>
                                                        <ion-radio value="Ranch"></ion-radio>
                                                      </ion-item>
                                                    
                                                      <ion-item>
                                                        <ion-label>Southwest</ion-label>
                                                        <ion-radio value="Soutwest" ></ion-radio>
                                                      </ion-item>
                                                    
                                                      <ion-item>
                                                            <ion-label>Low Fat Family Recipe italian</ion-label>
                                                            <ion-radio value="LowFatFamilyRecipeitalian" ></ion-radio>
                                                          </ion-item>
                                                    
                                                          <ion-item>
                                                                <ion-label>Low Fat Balsamic Vinaigrette</ion-label>
                                                                <ion-radio value="LowFatBalsamicVinaigrette" ></ion-radio>
                                                              </ion-item>
                                                            
                                                      
                                                    
                                                    </ion-list>


                                                    <ion-item class="i1" >
                                                            <ion-label  style="color:rgb(152, 148, 148)"  >
                                                                CHOOSE A DRINK
                                                                <br>
                                                                
                                                                  
                                                                </ion-label>
                                                                
                                                                </ion-item>
                                                                <ion-list  radio-group [(ngModel)]="autoManufacturers">
                                                                        
                                                                        <ion-item>
                                                                            <ion-label>CoCa-Cola</ion-label>
                                                                            <ion-radio value="CoCa-Cola"></ion-radio>
                                                                          </ion-item>
                                                                        
                                                                          <ion-item>
                                                                            <ion-label>Diet Coke</ion-label>
                                                                            <ion-radio value="DietCoke" ></ion-radio>
                                                                          </ion-item>
                                                                        
                                                                          <ion-item>
                                                                                <ion-label>Sprite</ion-label>
                                                                                <ion-radio value="Sprite" ></ion-radio>
                                                                              </ion-item>
                                                                        
                                                                              <ion-item>
                                                                                    <ion-label>Ice-Tea</ion-label>
                                                                                    <ion-radio value="Ice-Tea" ></ion-radio>
                                                                                  </ion-item>
                                                                                
                                                                          
                                                                        
                                                                        </ion-list>

                                                                        <ion-item class="i1" >
                                                                                <ion-label   >
                                                                                         <div style="color:rgb(176, 176, 176)">SPECIAL INSTRUCTION</div>
                                                                                       </ion-label>
                                                                                      
                                                                                   </ion-item>
                                                                         
                                                                         <ion-item class="i1" >
                                                                           <ion-label floating style="color:rgb(152, 148, 148)"  >
                                                                               Add Note(Extra Sauce,No Onion etc.)
                                                                                 
                                                                               </ion-label>
                                                                               <ion-input type="text"></ion-input>
                                                                               <br>
                                                                           </ion-item>     

    <div ng-controller="CounterController" class="countbutton">

            <button ion-button round  (click)="subtractCount()" class="buttond" color="scolor" >
                    <ion-icon name="remove-circle"></ion-icon>
                  
                </button>
        
        count: {{count}}

        <button ion-button round  (click)="addCount()" class="buttond" color="scolor">
        
                <ion-icon name="add-circle"></ion-icon>
                
              </button>
      
        
      </div>
      
      <button ion-button class="cartbutton" color="scolor" (click)="yourpage()" >
          <ion-icon name="cart"> Add to cart
            
          </ion-icon>
        </button>
    

</ion-content>

