page-rider {
    .map{
        width: 300%;
        height: 50%;
      margin-left: -2%;
    }
.itemformap{

    width: 100%;
    height: 60%;

}

.iconcontact{
 height: 12%;
 font-size: 80%;
 margin-left: -10%;
 margin-top: -12%;
}
.buttoncontact{
    color:white;
    background-color: rgba(128, 0, 128, 0.741);
    width: 40%;
    height: 5%;
    margin-top: -7%;
    margin-left: 5%;
}
.clear-cart{
    width: 40%;
    height: 5%;
    margin-left: 9%;
    background-color: rgb(182, 8, 8);
    margin-top: -7%;
    color:white;
}
.avatar{
    width: 50%;
    height: 10%;
   
    margin-top: 6%;
    border-radius: 50%;
}

#map {
    width: 100%;
    height: 70%;
}

.name{
    font-size: 150%;
    font: bold;
    margin-left: -25%;
    margin-top: 20%;
    width: 100%;
}
.hed{
    margin-top: -35%;
    width: 120%;
    margin-left: -15%;
}
.hed2{
    width: 120%;
    margin-left: -15%;
}
.model{
    font-size: 100%;
  color:black;
    margin-left: 50%;
   
}
.model2{
    
  color:black;
    margin-left: 45%;
   font-size: 70%;
}
.model3{
    
  color:black;
    margin-left: 30%;
   font-size: 70%;
   font: bold;
}
.card{
    width: 40%;
    height: 10%;
    margin-left: 40%;
    background-color: rgba(103, 6, 103, 0.333);
}
.img{
    margin-top: 20%;
    margin-left: 20%;
}
.col1{
    margin-top: 9%;
    margin-left: -18%;
    color: gray;
}
.rating{
    margin-left: -30%;
    
}
.hisstroyicon{
    width: 8%;
    margin-left: 80%;
    margin-top: 1%;
}
}
