<!--
  Generated template for the RiderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>RIDER</ion-title>
    <img src="img/transactions.png" class="hisstroyicon"  (click)="upcomingorder()">
  </ion-navbar>

</ion-header>


<ion-content >
 
  <div id="map" ><img src="img/Screenshot (13).png" width="100%" height="100%" ></div>
  <ion-grid>
      <ion-row>
        <ion-col col-7  width-10 > 
            <ion-list class="img">
            <ion-avatar item-start class="avatar">
                    <img src="img/2752428-1479715112751-photo.jpg"class="avatar">
                    <h2 class="name">JOKER</h2>
                    <img src="img/Two-star-rating.png" class="rating">
                  </ion-avatar>
                 </ion-list>
               </ion-col>   
          
           <ion-col class="col1" >
            <p class="model"><b>Black</b></p>
                   <p  class="model2">Honda CG125</p>
                  <ion-card class="card">
                   <p  class="model3">LHL-3236</p>
                  </ion-card>
               
        
          </ion-col>
        </ion-row>
      
        </ion-grid>
   
         

<button ion-button color="scolor" class="buttoncontact">
  
   Contact Rider
</button>
<button ion-button class="clear-cart" color="scolor">Cancel Order</button>

</ion-content>
