page-dash {
    .logout1{
        width: 15%;
        height:5%; 
    font-size: 80%
    }
    .lo{
        font-size: 120%;
       
        margin-top: 4%;
    

    }
    .k{
        font:bold;
        margin-left: 50%;
        margin-top: -15%;
    }
    .searchbar{
        width: 100%;
        margin-top:5%;
        background-color:rgba(255, 255, 255, 0.177)
    }
   
    
    ion-scroll{
        white-space: nowrap;
        height: 20%;
    }
    .scroll{
        margin-left: 8%;
        margin-top: 8%;
    }
    .imgtext0{
        margin-left: 2%;
        font-size: 12%;
    }

    .imgtext1{
        margin-left: 8%;
        font-size: 12%;
    }

    .imgtext2{
        margin-left: 5%;
        font-size: 12%;
    }

    .imgtext3{
        margin-left: 6%;
        font-size: 12%;
    }

    .imgtext4{
        margin-left: 15%;
    }

    .imgtext5{
        margin-left: 6%;
    }

    .imgtext6{
        margin-left: 6%;
    }

    .imgtext7{
        margin-left:10%;
    }

    .img{
        margin-left: 7%;
    }

    .img2{
        margin-left: 10%;
    }

    .img3{
        margin-left: 10%;
    }

    .img4{
        margin-left:11%;
    }

    .img5{
        margin-left: 7%;
    }

    .img6{
        margin-left: 11%;
    }
    .img7{
        margin-left: 15%;
    }
    .badge1{
        width: 12%;
        height: 15%;
    }

.badgeimg{
    width: 150%;
    height: 0%;
}
.p1{
    font: outline;
    margin-left:2%;
}
.homeicon{
    width: 8%;
    height: 1%;
    margin-left: 6%;
}
.searchicon{
    width: 8%;
    height: 1%;
    margin-left: 15%;
}
.ordericon{
    width: 8%;
    height: 1%;  
    margin-left: 12%; 
}
.profileicon{
    width: 8%;
    height: 1%;  
    margin-left: 15%;
}
.toolbar{
    margin-left: 5%;
}
.cart{
    width: 10%;
    height: 10%;
    margin-left: 85%;
    margin-top: -12%;
}
}
