
<ion-header>
  
  <div class="lo" align="center" style="color:rgb(121, 121, 132)"> Deliver to: <b>Karachi, Pakistan</b></div>
  <img src="img/commerce2.png" class="cart" (click)="yourpage()">
    <ion-searchbar class="searchbar" placeholder="Find Restaurant or Food Anywhere in your city" showCancelButton="true">
    
  </ion-searchbar>
  </ion-header>
  <ion-content class="background">

      
  <ion-scroll scrollX="true" class="scroll" >
    <div><img src="img/biryani icon.png" width="50px" height="50px" />
      <img src="img/dall chawal.png" width="50px" height="50px"class="img" />
      <img src="img/chicken karahi.png" width="50px" height="50px"class="img2"/>
      <img src="img/alo bhujia.png" width="50px" height="50px"class="img3"  />
      <img src="img/bhindi.png" width="50px" height="50px"class="img4" />
      <img src="img/tandoori charga.png" width="50px" height="50px"class="img5"  />
      <img src="img/gulabjamun.png" width="50px" height="50px"class="img6" />
      <img src="img/dood dulari.png" width="50px" height="50px"class="img7" />
    <br>  
  <span style="font-size:80%" class="imgtext0">Biryani</span>
  <span style="font-size:80%" class="imgtext1" >Daal Chawal</span>
  <span style="font-size:80%" class="imgtext2" >Chiken Karahi</span>
  <span style="font-size:80%" class="imgtext3" >Allo Bhujia</span>
  <span style="font-size:80%" class="imgtext4" >Bhindi</span>
  <span style="font-size:80%" class="imgtext5" >Tandoori Chiken</span>
  <span style="font-size:80%" class="imgtext6" >Gulab Jamun</span>
  <span style="font-size:80%" class="imgtext7" >Doodh Dulaari</span>
  </div>
  
   
  </ion-scroll>
  
  <ion-card>
   <img src="img/IMG_1041.png" width="50px" height="50px"  class="badgeimg"(click)="menu1()"/>
   <br>
   <h1 class="p1">McDonald's - Tariq Road</h1>
   <p style="font:bold" class="p1">American: Fast Food. Burgers </p>
   <br>
   
  </ion-card>
  <ion-card>
    <img src="img/kfc-mcd.jpg" width="50px" height="50px"  class="badgeimg"(click)="menu1()"/>
    <br>
    <h1 class="p1">KFC - Tariq Road</h1>
    <p style="font:bold" class="p1">American: Fast Food. Burgers </p>
    <br>
  </ion-card>
  
   <ion-card>
    <img src="img/Subway-Smokehouse-Chicken-BBQ.png" width="50px" height="50px"  class="badgeimg"(click)="menu1()"/>
    <br>
    <h1 class="p1">SubWay - Tariq Road</h1>
    <p style="font:bold" class="p1">American: Fast Food. Sandwich </p>
    <br> 
  </ion-card>
  
   <ion-card>
    <img src="img/maxresdefault.jpg" width="50px" height="50px"  class="badgeimg"(click)="menu1()"/>
    <br> 
    <h1 class="p1">KababJees - Do Darya</h1>
    <p style="font:bold" class="p1">Pakistani:  Chicken Tikka </p>
    <br>
  </ion-card>
  
  <ion-card>
    <img src="img/pizza-hut-canada-new-canadian-pizzas-2014.jpg" width="50px" height="50px"  class="badgeimg"(click)="menu1()"/>
    <br> 
    <h1 class="p1">PizzaHut - Tariq Board</h1>
    <p style="font:bold" class="p1">Pakista: Italian. Pizza </p>
    <br>
  </ion-card>
 
  </ion-content>
  <ion-footer>
  <ion-toolbar class="toolbar">
    <img src="img/homewhite.png" class="homeicon" (click)="dash()">
    <img src="img/585e4ae1cb11b227491c3393.png" class="searchicon" (click)="search()" >
    <img src="img/transactions.png" class="ordericon" (click)="order()">
    <img src="img/user-id-icon.png" class="profileicon" (click)="profile()" >
      
     </ion-toolbar>
 </ion-footer>

 
  
  
  