<ion-content padding  class="background2">
    <div class="logo" >
        <img src="../img/Logo.png" />
      </div>  

      <div padding class="su" style="color:white">Sign Up</div>
 <ion-item class="background1" >
        
<ion-label floating>
First Name
 </ion-label>
<ion-input type="text">
</ion-input>
</ion-item> 

<ion-item class="background1" >
    
<ion-label floating>
Last Name
</ion-label>
<ion-input type="text">
</ion-input>
</ion-item>


<ion-item class="background1" >
    
<ion-label floating>
Email
</ion-label>
<ion-input type="text">
</ion-input>
</ion-item>

<ion-item class="background1" >
    
<ion-label floating>
Contact
</ion-label>
<ion-input type="text">
</ion-input>
</ion-item>

<ion-item class="background1" >
    
<ion-label floating>
Password
</ion-label>
<ion-input type="Password">
</ion-input>
</ion-item> 

<ion-item class="background1" >
    
<ion-label floating>
Confirm Password
</ion-label>
<ion-input type="text">
</ion-input>
</ion-item> 




    

  
<button  ion-button small (click)="sumbit()" class="sumbit" color="Pcolor" block outline ><p style="color:white">Sign Up</p>></button>

<p class="f" style=" color:#b3abab">Already have an account?</p><p (click)="login()" class="l" color="scolor">Sign in</p>
</ion-content>