page-signup {
    
    .background2{
        background-image: url('../img/background.jpg');
         width: 100%;
         background-size: 100% 100%;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
        
         
    }

    .background1{
        background-color: rgba(158, 158, 158, 0);
        color:rgb(255, 255, 255);
        margin-top: -1%;
        font-size: 100%;
       
        
        
    }
    .scroll-content{
        
        text-align: center;
    }
   
    
       

    .ion-input{
        margin-right: 1%;
        width: 90%;
        
        font-size: 400%;
       
    }
    .ion-label{
    height: 80%;
    
    }
    
    
    .sumbit{
        font-size: 125%;
        align-content: center;
        background: #783cdf;
        border-radius:10px;
        margin-right: -20%;
        margin-top: 8%;
        width: 80%;
        height: 8%;
        align-content: center;
        margin-top: 5%;
        margin-left: 8%;
        
    }

    .input{
        width: 100%;
        height:80%;
       margin-top: -0.1%;
       
    
       font-size: 100%;
        
        
       
    }
    .su{
        font-size: 180%;
        color:rgba(255, 255, 255, 0.653);
        font: bold;
       

    }
    .f{
        font-size: 120%;
        
    
    }
    .l{
        font-size: 120%;
        font: bold;
        color: #fff;
    }
    
   

}
