page-menu {
    .badgeimg{
        width: 150%;
        height: 0%;
    }

    .fontamerican{
        font-size: 120%;
    }
    

    .badge1{
         background: rgba(115, 114, 114, 0.673);
        align-content:center; 
        margin-top: -30%;
        margin-left: 12%;
        border-block-end-color:black;
        


    }
    .icontime{
        align-content: center;
        font-size: 110%;
        margin-left: 30%;
        margin-top: 5%;
    }
    .icon1{
        width: -20%;
    }
    .div1{
        width: 140%;
        margin-left: -30%;
        
    }
    .div2{
        width: 150%;
        margin-left: -32%;

    }

    .div3{
        width: 150%;
        margin-right: 25%;

    }

    .div4{
        width: 150%;
        margin-right: 25%;

    }

    .div0{
        width: 150%;
        margin-right: 25%;

    }

    .div5{
        width: 150%;
        margin-right: 25%;

    }

    .div6{
        width: 150%;
        margin-right: 32%;

    }

    .div7{
        width: 150%;
        margin-right: 40%;

    }

    .div8{
        width: 150%;
        margin-right: 28%;

    }
    .buttons1{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);
        font-size: 140%;
        margin-left:-6%;
        width: 120%;
        margin-top: 2%;
    }

    .buttons2{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);;
        font-size: 140%;
        margin-left: -5%;
        width: 117%;
        margin-top: -0.32%;
    }

    .buttons3{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);;
        font-size: 140%;
        margin-left: -5%;
        width: 117%;
        margin-top: -0.32%;
        
    }

    .buttons4{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);;
        font-size: 140%;
        margin-left: -5%;
        width: 117%;
        
    }

    .buttons5{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);;
        font-size: 140%;
        margin-left: -5%;
        width: 117%;
        
    }

    .buttons6{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);;
        font-size: 140%;
        margin-left: -5%;
        width: 117%;
        
    }

    .buttons7{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);;
        font-size: 140%;
        margin-left: -5%;
        width: 117%;
        
    }

    .buttons8{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);;
        font-size: 140%;
        margin-left: -5%;
        width: 117%;
        
    }

    .buttons9{
        background-color: rgba(204, 204, 204, 0.306);
        color:rgb(20, 13, 13);;
        font-size: 140%;
        margin-left: -5%;
        width: 117%;
        
    }

.backicon{
    width: 7%;
    margin-left: 1%;
    margin-top: 6%;
    
}
.lo{
    width:150%;
    height: 1%;
    margin-left: -28%;
    margin-top: -6%;
}
.imgicon{
    width: 10%;
    height: 40%;
    margin-right: 10%;
}
.cart{
    width: 10%;
    height: 10%;
    margin-left: 85%;
    margin-top: -12%;
}
}
