<ion-header >

            <img src="img/backword.png" class="backicon" (click)="Backbutton()" >
            <div class="lo" align="center" style="color:rgb(121, 121, 132)"> Deliver to: <b>Karachi, Pakistan</b></div>
            <img src="img/commerce2.png" class="cart"(click)="yourpage()"> 
                            
            
<img src="img/d556fae6c6ceea6b52ae95faf5ac43c0.jpg" width="50px" height="50px"  class="badgeimg"(click)="menu1()"/>


<ion-badge class="badge1">
  <h1 style="color:black">McDonald's -Tariq Road</h1>
  <p style="color:rgba(3, 2, 2, 0.537)" class="fontamerican">  American . Fast Food . Burgers</p>
  <p style="color:rgba(3, 3, 3, 0.442) ">OPENS AT 10:00 AM</p>
</ion-badge>

<ion-icon name="clock-outline" style="color:rgb(157, 153, 153)" class="icontime">10:00AM - 05:00AM  </ion-icon>
</ion-header>




<ion-content >
  
   <button ion-button  color="scolor" outline class="buttons1" (click)="launchMenuPage()"> 
      <div style="color:black"class="div1">BreakFast</div>
      <img src="img/forward.png" class="imgicon">
    </button>

   <button ion-button color="scolor"  outline  class="buttons2" (click)="launchMenuPage()"  > 
      
      <div style="color:black" class="div2">Favorites</div>
      <img src="img/forward.png" class="imgicon">
      </button >
      
      <button ion-button color="scolor" block outline  class="buttons3" (click)="launchMenuPage()" > 
          
          <div style="color:black" class="div3">Extra Values</div>
          <img src="img/forward.png" class="imgicon">
          </button > 
          
          <button ion-button color="scolor" block outline  class="buttons4" (click)="launchMenuPage()" > 
              
              <div style="color:black"class="div4">Value Meals</div>
              <img src="img/forward.png" class="imgicon">
              </button >    

              <button ion-button color="scolor" block outline  class="buttons5" (click)="launchMenuPage()" > 
                  
                  <div style="color:black"class="div0">Happy Menu</div>
                  <img src="img/forward.png" class="imgicon" >
                  </button >  
                  
                  <button ion-button color="scolor" block outline  class="buttons6" (click)="launchMenuPage()" > 
                      
                      <div style="color:black"class="div5">Happy Meals</div>
                      <img src="img/forward.png" class="imgicon">
                      </button >  
                      <button ion-button color="scolor" block outline  class="buttons7" (click)="launchMenuPage()" > 
                          
                          <div style="color:black"class="div6">Desserts</div>
                          <img src="img/forward.png" class="imgicon">
                          </button > 
                          
                          <button ion-button color="scolor" block outline  class="buttons8" (click)="launchMenuPage()" >
            
                          <div style="color:black"class="div7">Drink</div>
                          <img src="img/forward.png" class="imgicon">
                          </button >

                          <button ion-button color="scolor" block outline  class="buttons9" (click)="launchMenuPage()">     
                          <div style="color:black"class="div8">Promotions</div>
                          <img src="img/forward.png" class="imgicon">
                          </button >    
            
      
      
  

</ion-content>
